/* Root variables */
:root {
    --color-primary-blue: hsl(246, 80%, 60%);
    --color-primary-white: hsl(0, 0%, 100%);

    --color-primary-work: hsl(15, 100%, 70%);
    --color-primary-play: hsl(195, 74%, 62%);
    --color-primary-study: hsl(348, 92%, 58%);
    --color-primary-exercise: hsl(145, 58%, 55%);
    --color-primary-social: hsl(264, 64%, 52%);
    --color-primary-self-care: hsl(43, 84%, 65%);

    --color-neutral-very-dark-blue: hsl(226, 43%, 10%);
    --color-neutral-dark-blue: hsl(235, 46%, 20%);
    --color-desaturated-blue: hsl(235, 45%, 61%);
    --color-pale-blue: hsl(236, 100%, 87%);

    --font-size: 12px;
    --font-family: 'Rubik', sans-serif;

    --breakpoint-tablet: 768px;
}

/* CSS Resets */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background: white;
	line-height: 1;
    box-sizing: 0;
}

/* Global Styles */
html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: var(--font-family);
    background-color: var(--color-neutral-very-dark-blue);
}

/* Main Styles */
#container {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    grid-template-rows: 160px 160px;
    gap: 15px;

    margin-bottom: 30px;

    .user {
        grid-row: 1 / span 2;
        background-color: var(--color-neutral-dark-blue);
        border-radius: 10px;

        .user-container {
            color: var(--color-pale-blue);
            background-color: var(--color-primary-blue);
            line-height: 1.3;
            border-radius: 10px;
            padding: 20px 20px 50px 20px;

            img {
                border: 2px solid var(--color-primary-white);
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin-bottom: 25px;
            }

            img {
                cursor: pointer;
            }

            p {
                font-size: 10px;
            }

            h1 {
                color: var(--color-primary-white);
                font-size: 25px;
                font-weight: 300;
            }
        }

        .periodicity {
            color: var(--color-desaturated-blue);
            font-size: var(--font-size);
            padding: 20px;
            line-height: 2.1;

            span {
                color: var(--color-pale-blue);
            }

            h2:hover {
                cursor:pointer;
            }
        }
    }

    .activity {
        border-radius: 10px;

        .activity-background {
            img {
                width: 40px;
                position: relative;
                left: 65%;
            }
        }

        .min-container {
            display: flex;
            flex-direction: column;

            background-color: var(--color-neutral-dark-blue);
            height: 100px;
            border-radius: 8px;
            position: relative;
            bottom: 9%;
            padding: 17px;

            color: var(--color-primary-white);

            .title-container {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 30px;

                .activity-title {
                    font-size: 12px;
                }
            }

            .current-hours {
                font-size: 35px;
                font-weight: 300;    
                margin-bottom: 10px;
            }

            .previous-hours {
                color: var(--color-pale-blue);
                font-weight: 300;
            }
        }
    }

    .work {
        background-color: var(--color-primary-work);
    }

    .play {
        background-color: var(--color-primary-play);
    }

    .study {
        background-color: var(--color-primary-study);
    }

    .exercise {
        background-color: var(--color-primary-exercise);

        .activity-background img {
            margin-bottom: 12px;
        }
    }
    .social {
        background-color: var(--color-primary-social);
        
        .min-container {
            position: relative;
            bottom: 18%;
        }
    }
    .self-care {
        background-color: var(--color-primary-self-care);
    }
}

/* Media Queries for accessibility */

/* Medium screen */
@media only screen and (min-width:531px) and (max-width:768px) { 
    #container {
        grid-template-columns: 160px 160px 160px;
        grid-template-rows: 160px 0 160px 160px;
    }

    .user {
        grid-column: 1 / span 3;

        .user-container {
            display: grid;
            justify-content: center;
            place-content: center;
            grid-template-columns: 80px 200px;
            grid-template-rows: 20px;

            padding: 20px 20px 20px 20px !important;

            img {
                width: 60px !important;
                height: 60px !important;
                grid-row: 1 / span 2;
                margin-bottom: 0 !important;
            }
        }

        .periodicity {
            display: flex;
            justify-content: space-evenly;
            h2 {
                font-size: 1.8rem;
            }
        }
    }
}

/* Medium to Small Screen Sizes */
@media only screen and (min-width:376px) and (max-width:531px) {
    #container {
        grid-template-columns: 160px 160px;
        grid-template-rows: 160px 0 160px 160px 160px;

        margin: 20px 0 20px 0 !important;

        .user {
            grid-column: 1 / span 2;

            .user-container {
                display: grid;
                justify-content: center;
                place-content: center;
                grid-template-columns: 80px 200px;
                grid-template-rows: 20px;
    
                padding: 20px 20px 20px 20px !important;
    
                img {
                    width: 60px !important;
                    height: 60px !important;
                    grid-row: 1 / span 2;
                    margin-bottom: 0 !important;
                }
            }
        }

        .periodicity {
            display: flex;
            justify-content: space-evenly;
        }
    }
}

/* Small Screen Sizes */
@media only screen and (max-width:375px) {

    body {
        margin: 20px 0 20px 0;
    }

    #container {
        grid-template-columns: 335px;
        grid-template-rows: 160px 0 160px 160px 160px 160px 160px 160px;
        gap: 40px;

        .user {
            .user-container {
                display: grid;
                justify-content: center;
                place-content: center;
                grid-template-columns: 80px 200px;
                grid-template-rows: 20px;
    
                padding: 20px 20px 20px 20px !important;
    
                img {
                    width: 60px !important;
                    height: 60px !important;
                    grid-row: 1 / span 2;
                    margin-bottom: 0 !important;
                }
            }
    
            .periodicity {
                display: flex;
                justify-content: space-evenly;

                h2 {
                    font-size: 1.8rem;
                }
            }
        }

        .activity {

            .activity-background {
                img {
                    width: 50px;
                    position: relative;
                    left: 80%;
                }
            }

            .min-container {
                display: flex;
                justify-content: center;
                flex-direction: column;
                
                .title-container {
                    margin-left: 20px;
                    margin-right: 20px;
                }

                .hours-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    margin-left: 20px;
                    margin-right: 20px;
                    
                    .previous-hours {
                        font-size: 15px;
                    }
                }
            }

        }
    }
}

/* Footer Styles */
footer {
    font-size: 11px;
    text-align: center; 
    color: var(--color-primary-white)
}

footer a {
    color: var(--color-desaturated-blue); 
}